{% extends 'base.html' %}
{% block title %}O autorze projektu{% endblock %}
{% block content %}


        <div class="text-center mt-5">
          <img src="P1230199_dobre3.png" alt="Zdjęcie autora" class="author-image rounded-circle">
        </div>
        <h1 class="text-center mt-4">Jan Doniec</h1>
        <p class="text-center mt-3">Student Informatyki Stosowanej na Uniwersytecie Ekonomicznym w Krakowie. Profesjonalny sportowiec - zeglarz ścigający się w klasie Laser oraz Omega. 
            Dziennikarz technologiczny i zeglarski, filmowiec, fotograf, przedsiebiorca. </p>
{% endblock %}