<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>O autorze</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .author-image {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="text-center mt-5">
          <img src="P1230199_dobre3.png" alt="Zdjęcie autora" class="author-image rounded-circle">
        </div>
        <h1 class="text-center mt-4">Jan Doniec</h1>
        <p class="text-center mt-3">Student Informatyki Stosowanej na Uniwersytecie Ekonomicznym w Krakowie. Profesjonalny sportowiec - zeglarz ścigający się w klasie Laser oraz Omega. 
            Dziennikarz technologiczny i zeglarski, filmowiec, fotograf, przedsiebiorca. </p>
      </div>
    </div>
  </div>
</body>

</html>
