<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CeneoWebScrapper</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CeneoWebScrapper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ekstrakcja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lista produktów</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">O autorze</a>
        </li>

      </ul>
    </div>
  </nav>
  <div class="container py-5">
    <div class="card">
        <div class="card-body text-center">
            <h1>Cel</h1>
            <p>Naszym celem jest pobranie wszystkich opini o danym produkcie zamieszczonych na portalu ceneo.pl i zaprezentowanie je w szczegółowy a zarazem przystępny sposób.</p>
        </div>
      </div>
      <div class="card mt-5">
        <div class="card-body text-center">
            <h1>Działanie</h1>
            <p>Podstawą dzialania aplikacji Ceneo Web Scrapper jest pobranie od uytkownika kodu produktu i na jego podstaie szczegółowe wyświetlenie wszystkich opinii</p>
        </div>
      </div>
      <div class="card mt-5">
        <div class="card-body text-center">
            <h1>Uzyte biblioteki</h1>
            <p>Tworząc ten projekt korzystamy z następujących bibliotek:
                <li>beautifulsoup4</li>
<li>blinker</li>
<li>certifi</li>
<li>charset-normalizer</li>
<li>click</li>
<li>colorama</li>
<li>contourpy</li>
<li>cycler</li>
<li>Flask</li>
<li>fonttools</li>
<li>idna</li>
<li>itsdangerous</li>
<li>Jinja2</li>
<li>kiwisolver</li>
<li>MarkupSafe</li>
<li>matplotlib</li>
<li>numpy</li>
<li>packaging</li>
<li>pandas</li>
<li>Pillow</li>
<li>pyparsing</li>
<li>python-dateutil</li>
<li>pytz</li>
<li>requests</li>
<li>six</li>
<li>soupsieve</li>
<li>tzdata</li>
<li>urllib3</li>
<li>Werkzeug</li> </p>

        </div>
      </div>
      <div class="card mt-5">
        <div class="card-body text-center">
            <h1>Zastosowane podejścia</h1>
            <p>TO DO</p>
        </div>
      </div>
</div>
</body>

</html>
