<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      min-height: 100vh;
      padding-top: 50px;
    }

    .container {
      margin: 0 auto;
      max-width: 800px;
    }

    .table {
      width: 100%;
    }
  </style>
</head>

<body>

  <div class="container">
    <table class="table table-striped table-bordered" id="productTable">
      <thead>
        <tr>
          <th>Produkt</th>
          <th>Liczba opinii</th>
          <th>Liczba wad</th>
          <th>Liczba zalet</th>
          <th>Średnia ocena</th>
          <th>Pobierz</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>000000</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0.0</td>
          <td>
            <button class="btn btn-primary">.json</button>
            <button class="btn btn-primary">.csv</button>
            <button class="btn btn-primary">.xlsx</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#productTable').DataTable();
    });
  </script>

</body>

</html>
